################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.github
/src/.vs/BikeChooser.slnx
/src/BikeEnergyModel/bin/Debug/net10.0
/src/BikeEnergyModel/obj
/src/.vs/ProjectEvaluation
/src/.vs/BikeChooser/CopilotIndices/18.4.119.15876/CodeChunks.db
/src/.vs/BikeChooser/CopilotIndices/18.4.119.15876/SemanticSymbols.db
